.carousel .slide {
    background: transparent;
}

.settings-container {
    padding: 15px;
}


.settings-container .main-slider {
    color: #fff;
    height: 100%;
}

.settings-container .main-slider .carousel{
    padding-bottom: 10px;
}

.settings-container .main-slider .carousel-item {
    text-align: center;
}

.settings-container .main-slider .carousel-item .icon {
    font-size: 100px;
    display: block;
    padding: 40px 0;
}

@media only screen and (max-width: 320px) {
    .settings-container .main-slider .carousel-item .icon {
        padding: 30px 0;
    }
}

.settings-container .main-slider .carousel-item .description {
    line-height: 30px;
}

.settings-container .main-slider .carousel-item.gateway .btn-basic span {
    padding: 10px 10px;
}