.home-container {
    overflow: scroll;
}

.title {
    font-size: 16px;
    color: #ddd;
    font-weight: bold;
}

.mode-container {
    padding: 5px
}

.mode-container .item {
    border: 1px solid rgba(255, 255, 255, .3);
    min-width: 18vw;
    max-width: 18vw;
    height: 18vw;
    margin-right: 10px
}

.mode-container .item-box {
    text-align: center
}

.mode-container .name {
    font-size: 12px
}

.weather-container {
    padding: 0 15px
}

.weather-container .forecast-list .icon {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto 10px
}

.weather-container .information-container.weather {
    display: flex;
    padding: 20px 0;
}

.weather-container .weather-status {
    flex: 1;
    text-align: center
}

.weather-container .weather-status .icon {
    width: 20px;
    height: 20px
}

.weather-container .weather-status.symbol {
    text-align: center
}

.weather-container .weather-status.symbol .icon {
    width: 120px;
    height: 100px;
    margin: 15px;
    display: block;
    font-size: 80px;
}

.weather-container .weather-status p {
    font-size: 16px;
    margin: 12px;
    display: block
}

@media only screen and (max-width:400px) {
    .weather-container .weather-status text {
        margin: 6px
    }
}

.weather-container .weather-status .city {
    font-size: 20px
}

.weather-container .information-container.forecast {
    display: flex
}

.weather-container .information-container.forecast .weather-icon {
    font-size: 26px;
    padding: 10px 0;
    display: block
}

@media only screen and (max-width:400px) {
    .weather-container .information-container.forecast .weather-icon {
        font-size: 22px
    }
}

@media only screen and (max-width:400px) {
    .weather-container .information-container.forecast .flexbox-items-wrapper {
        margin: 0
    }
}

@media only screen and (max-width:400px) {
    .weather-container .information-container.forecast .item {
        padding: 0
    }
}

.weather-list {
    padding: 15px 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

.iaq-container {
    padding: 15px 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

.iaq-container .icon {
    font-size: 26px;
    padding: 10px;
    display: block;
}

.iaq-container .icon-celsius {
    width: 20px;
    height: 20px
}

.flexbox-items-wrapper {
    margin: 10px 0;
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 10px
}

.energy-container {
    padding: 0 15px
}

.energy-container .icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto
}

.energy-container .name {
    display: block;
}

.flexbox-items-wrapper .item {
    flex: 1;
    padding: 8px;
    border-radius: 15px;
    text-align: center
}

.fixed-bar {
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, .3)
}

.fixed-bar.top {
    top: 0;
    height: 50px;
    box-shadow: 0 4px 20px rgba(64, 64, 64, .5)
}

.fixed-bar.bottom {
    bottom: 0;
    height: 60px;
    box-shadow: 0 -4px 20px rgba(64, 64, 64, .5)
}

.chartjs-render-monitor {
    padding: 10px;
}


@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(60deg);
  }
  80% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.rotating {
  animation: rotating 20s linear infinite;
}
