
@font-face {
    font-family: "icomoon";
    src: url('./fonts/icomoon.eot');
    src: url('./fonts/icomoon.eot?#iefix') format('eot'),
        url('./fonts/icomoon.ttf') format('truetype');
}

.icon:before {
    font-family: "icomoon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
}


.icon-back:before {
    content: "\E001";
}

.icon-cancel:before {
    content: "\E002";
}

.icon-celsius:before {
    content: "\E003";
}

.icon-change-password:before {
    content: "\E004";
}

.icon-checked:before {
    content: "\E005";
}

.icon-close:before {
    content: "\E006";
}

.icon-co2:before {
    content: "\E007";
}

.icon-collapse-off:before {
    content: "\E008";
}

.icon-collapse-on:before {
    content: "\E009";
}

.icon-controller:before {
    content: "\E00A";
}

.icon-delete:before {
    content: "\E00B";
}

.icon-devices-aircon:before {
    content: "\E00C";
}

.icon-devices-curtain:before {
    content: "\E00D";
}

.icon-devices-floorheating:before {
    content: "\E00E";
}

.icon-devices-iaq:before {
    content: "\E00F";
}

.icon-devices-light:before {
    content: "\E010";
}

.icon-devices-lock:before {
    content: "\E011";
}

.icon-devices-locker:before {
    content: "\E012";
}

.icon-devices-socket:before {
    content: "\E013";
}

.icon-devices-tfa:before {
    content: "\E014";
}

.icon-devices-tfc:before {
    content: "\E015";
}

.icon-dust:before {
    content: "\E016";
}

.icon-edit:before {
    content: "\E017";
}

.icon-is-dashboard:before {
    content: "\E018";
}

.icon-logout:before {
    content: "\E019";
}

.icon-master:before {
    content: "\E01A";
}

.icon-message-close:before {
    content: "\E01B";
}

.icon-message-error:before {
    content: "\E01C";
}

.icon-message-notice:before {
    content: "\E01D";
}

.icon-message-question:before {
    content: "\E01E";
}

.icon-message-success:before {
    content: "\E01F";
}

.icon-minus:before {
    content: "\E020";
}

.icon-mode-night:before {
    content: "\E021";
}

.icon-mode-out:before {
    content: "\E022";
}

.icon-mode-party:before {
    content: "\E023";
}

.icon-mode-sleep:before {
    content: "\E024";
}

.icon-mode-theater:before {
    content: "\E025";
}

.icon-mode:before {
    content: "\E026";
}

.icon-modes-all-off:before {
    content: "\E027";
}

.icon-modes-all-on:before {
    content: "\E028";
}

.icon-modes-baby:before {
    content: "\E029";
}

.icon-modes-bath:before {
    content: "\E02A";
}

.icon-modes-breakfast:before {
    content: "\E02B";
}

.icon-modes-car:before {
    content: "\E02C";
}

.icon-modes-computer:before {
    content: "\E02D";
}

.icon-modes-cooking:before {
    content: "\E02E";
}

.icon-modes-dessert:before {
    content: "\E02F";
}

.icon-modes-dream:before {
    content: "\E030";
}

.icon-modes-drink:before {
    content: "\E031";
}

.icon-modes-garage:before {
    content: "\E032";
}

.icon-modes-garden:before {
    content: "\E033";
}

.icon-modes-gym:before {
    content: "\E034";
}

.icon-modes-home:before {
    content: "\E035";
}

.icon-modes-meal:before {
    content: "\E036";
}

.icon-modes-morning:before {
    content: "\E037";
}

.icon-modes-movie-time:before {
    content: "\E038";
}

.icon-modes-movie:before {
    content: "\E039";
}

.icon-modes-music-headphone:before {
    content: "\E03A";
}

.icon-modes-music:before {
    content: "\E03B";
}

.icon-modes-night:before {
    content: "\E03C";
}

.icon-modes-party:before {
    content: "\E03D";
}

.icon-modes-power:before {
    content: "\E03E";
}

.icon-modes-rain:before {
    content: "\E03F";
}

.icon-modes-security:before {
    content: "\E040";
}

.icon-modes-shower:before {
    content: "\E041";
}

.icon-modes-sing:before {
    content: "\E042";
}

.icon-modes-sleep:before {
    content: "\E043";
}

.icon-modes-study:before {
    content: "\E044";
}

.icon-modes-summer:before {
    content: "\E045";
}

.icon-modes-sweep:before {
    content: "\E046";
}

.icon-modes-vacation:before {
    content: "\E047";
}

.icon-modes-watching-tv:before {
    content: "\E048";
}

.icon-modes-weightlifting:before {
    content: "\E049";
}

.icon-modes-winter:before {
    content: "\E04A";
}

.icon-modes-yoga:before {
    content: "\E04B";
}

.icon-no-data:before {
    content: "\E04C";
}

.icon-page-devices:before {
    content: "\E04D";
}

.icon-page-home:before {
    content: "\E04E";
}

.icon-page-rooms:before {
    content: "\E04F";
}

.icon-page-setting:before {
    content: "\E050";
}

.icon-plus:before {
    content: "\E051";
}

.icon-power-cold:before {
    content: "\E052";
}

.icon-power-hot:before {
    content: "\E053";
}

.icon-power-off:before {
    content: "\E054";
}

.icon-power-on:before {
    content: "\E055";
}

.icon-reboot:before {
    content: "\E056";
}

.icon-service-info:before {
    content: "\E057";
}

.icon-setting-gateway:before {
    content: "\E058";
}

.icon-setting-hotkey:before {
    content: "\E059";
}

.icon-setting-mode:before {
    content: "\E05A";
}

.icon-setting-power:before {
    content: "\E05B";
}

.icon-setting-service:before {
    content: "\E05C";
}

.icon-setting-user:before {
    content: "\E05D";
}

.icon-uncheck:before {
    content: "\E05E";
}

.icon-user:before {
    content: "\E05F";
}

.icon-weather-1:before {
    content: "\E060";
}

.icon-weather-10:before {
    content: "\E061";
}

.icon-weather-11:before {
    content: "\E062";
}

.icon-weather-12:before {
    content: "\E063";
}

.icon-weather-13:before {
    content: "\E064";
}

.icon-weather-14:before {
    content: "\E065";
}

.icon-weather-15:before {
    content: "\E066";
}

.icon-weather-16:before {
    content: "\E067";
}

.icon-weather-17:before {
    content: "\E068";
}

.icon-weather-18:before {
    content: "\E069";
}

.icon-weather-19:before {
    content: "\E06A";
}

.icon-weather-2:before {
    content: "\E06B";
}

.icon-weather-20:before {
    content: "\E06C";
}

.icon-weather-21:before {
    content: "\E06D";
}

.icon-weather-22:before {
    content: "\E06E";
}

.icon-weather-23:before {
    content: "\E06F";
}

.icon-weather-24:before {
    content: "\E070";
}

.icon-weather-3:before {
    content: "\E071";
}

.icon-weather-4:before {
    content: "\E072";
}

.icon-weather-5:before {
    content: "\E073";
}

.icon-weather-6:before {
    content: "\E074";
}

.icon-weather-7:before {
    content: "\E075";
}

.icon-weather-8:before {
    content: "\E076";
}

.icon-weather-9:before {
    content: "\E077";
}

.icon-weather-cloudy:before {
    content: "\E078";
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

.carousel-indicators {
    z-index: 1;
    height: 30px;
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 8px;
}

.carousel-indicators li.active {
    background-color: #fff;
}

.loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -30px;
}

.loader-container {
    animation: animball_two 3s infinite;
    width: 44px;
    height: 44px;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.ball.red,
.ball.orange,
.ball.green,
.ball.blue {
    position: absolute;
    animation: animball_one 1s infinite ease;
}

.ball.red {
    background-color: #cb2025;
    top: 0;
    left: 0;
}

.ball.orange {
    background-color: #f8b334;
    top: 0;
    left: 24px;
}

.ball.green {
    background-color: #00a096;
    top: 24px;
    left: 0;
}

.ball.blue {
    background-color: #97bf0d;
    top: 24px;
    left: 24px;
}

@keyframes animball_one {
    0% {
        position: absolute;
    }

    50% {
        top: 12px;
        left: 12px;
        position: absolute;
        opacity: 0.5;
    }

    100% {
        position: absolute;
    }
}

@keyframes animball_two {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(360deg) scale(1.3);
    }

    100% {
        transform: rotate(720deg) scale(1);
    }
}

.fixed-bar {
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
}

.fixed-bar.top {
    top: 0;
    height: 50px;
    box-shadow: 0px 4px 20px rgba(64, 64, 64, 0.5);
}

.fixed-bar.bottom {
    bottom: 0;
    height: 70px;
    box-shadow: 0px -4px 20px rgba(64, 64, 64, 0.5);
}

.page-header {
    position: relative;
    text-align: center;
}

.page-header .icon {
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 3;
}

.page-header .icon a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
}

.page-header img {
    height: 36px;
    margin: 7px;
}

.page-header .name {
    vertical-align: bottom;
    line-height: 50px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.logo {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.logo span {
    color: #ff9800;
}

.page-bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.page-bg.with-popup {
    z-index: 2;
}

.page-bg .bg-img {
    background-image: url("./images/bg.png");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(2px);
}

.page-bg .bg-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.flexbox-items-wrapper {
    margin: 10px 0;
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 10px;
}

.flexbox-items-wrapper .item {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
}

.mode-container {
    display: flex;
}

.mode-container .item {
    border: 1px outset rgba(255, 255, 255, 0.3);
    min-width: 90px;
    max-width: 90px;
    height: 90px;
    box-shadow: 1px 1px #3c3c3c8c;
    background-color: #ffffff14;
}

.mode-container .item.active {
    background-color: #00bcd4;
}

.mode-container .item-box {
    position: relative;
    height: 100%;
}

.mode-container .icon {
    font-size: 26px;
    padding: 10px;
    display: block;
}

.mode-container .name {
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.device-list {
    margin-bottom: 15px;
}

.device-list .title {
    color: #fff;
    font-size: 20px;
    text-align: left;
}

.device-list .title h3 {
    display: inline-block;
    margin: 0 0 10px 10px;
}

.device-list .title .icon {
    vertical-align: middle;
}

.device-list .item {
    height: 90px;
    min-width: 90px;
    max-width: 90px;
    overflow: hidden;
}

.device-list .item.controllable {
    min-width: 110px;
    max-width: 110px;
    position: relative;
}

.device-list .item.controllable .name {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.device-list .item[data-status="off"] {
    border: 1px solid #3e3e3e;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.75);
}

.device-list .item[data-status="on"] {
    background-color: #03a3be;
}

.device-list .item .name {
    font-size: 14px;
    text-align: left;
}

.device-list .item .info {
    text-align: center;
    font-size: 18px;
    padding: 12px 0;
}

.device-list .item .info p {
    font-size: 14px;
}

.device-list .item .info-text {
    display: none;
    line-height: 20px;
}

.device-list .item .info-text.active {
    display: block;
}

.device-list .item .info-text em {
    display: block;
}

.device-list .item .line {
    width: 93px;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateY(6px) translateX(0) rotate(105deg);
    position: absolute;
    right: -58px;
}

.device-list .item .controller-icon {
    z-index: 1;
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px 3px;
}


.description-container .value {
    padding: 0 5px;
}

.main-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 130px);
    overflow: scroll;
}

.main-container .page {
    overflow: scroll;
}

.main-container .page.active {
    display: block;
}

.home-container,
.devices-container {
    padding: .6rem;
}

.device-control-container,
.popup-container {
    padding: 20px;
    height: calc(100% - 120px);
    overflow: scroll;
}

@media only screen and (max-width: 320px) {

    .device-control-container,
    .popup-container {
        padding: 10px;
    }
}

.btn-basic {
    font-size: 18px;
    border-radius: 25px;
    margin: 20px 5px 0;
    flex: 1;
    color: #00bcd4;
    background-color: transparent;
    border: 1px groove #fff;
}

@media only screen and (max-width: 400px) {
    .btn-basic {
        margin: 5px 5px 0;
        font-size: 16px;
    }
}

.btn-basic span {
    display: block;
    padding: 10px 20px;
}

@media only screen and (max-width: 400px) {
    .btn-basic span {
        padding: 8px 12px;
    }
}

.btn-basic a {
    color: #00bcd4;
}

.btn-basic .icon {
    margin-right: 5px;
    vertical-align: middle;
}

.toolbar {
    display: flex;
}

.control-items .items-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.control-items .item {
    width: 50%;
    text-align: center;
    padding: 15px 0;
}

.control-items .icon {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 100px;
    padding: 10px;
    line-height: 80px;
    margin-bottom: 15px;
    display: inline-block;
    border-radius: 50%;
    font-size: 40px;
}

.page-menu .menu-wrapper {
    display: flex;
    justify-content: space-around
}

.page-menu .menu-item-box {
    text-align: center;
    cursor: pointer;
    position: relative
}

.page-menu .menu-item-box .item-name {
    font-size: 12px;
    padding: 0 5px
}

.page-menu .menu-item-box .triangle {
    display: inline-block;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    position: absolute;
    left: 10px;
    top: 0;
}

.page-menu .menu-item-box .icon {
    display: block;
    margin: 20px auto 5px;
}

.page-menu .menu-item-box.active .triangle {
    border-top: solid 10px rgb(31 48 95);
}

.page-menu .menu-item-box.active .item-name {
    color: #00bcd4;
}